// CLASS IMPLEMENTATIONS
// ------------------------------------------------


button, .mo-btn, .btn {
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
  height: 36px;
  background-image: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  @include font(roboto-condensed-bold);

  svg {
    max-width: 100%;
    max-height: 100%;
    transition: all .3s;
  }

  &.transparent {
    @include btn--transparent;
  }

  &.transparent-dark {
    @include btn--transparent-dark;
  }

  &.transparent-light {
    @include btn--transparent-light;
  }

  &.btn-azure {
    @include btn--azure; // TODO: track down buttons that have the .azure class and update to btn-azure. The .azure class collides with a color utility.
    
    &:hover {  
      svg {
        fill: $white;
      }
    }
  }

}

.btn {
  font-size: 18px;
  padding: 5px 10px;
  min-width: 100px;

  &--large {
    font-size: 1.5rem;
    padding: 12px;
    height: 100%;
  }

  svg {
      width: 14px;
      height: 14px;
      color: inherit;
      fill: currentcolor !important;
      margin-left: 10px;
    }
}

